html {
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  position: relative;
  background-color: #fcfcfc;
  font-size: 1.4rem;
  color: darkslategrey;
}
article {
  margin: 3rem;
  width: auto;
  text-align: justify;
}
h1 {
  color: darkslateblue;
  font-size: 3rem;
}
img {
  display: block;
  margin: auto;
  border: 6px solid gray;
  width: auto;
  max-width: 100%;
}
.hidden {
  display: none;
}